<input onchange={{action this.onchange}} type="radio" name="radiogroup_{{this.name}}" id="radiogroup_{{this.name}}_{{slugify this.id}}" value={{this.id}} checked={{if this.selected 'checked'}} />
<div role="tabpanel" id="radiogroup_{{this.name}}_{{this.id}}_panel">
  {{yield}}
</div>