{{title 'Nodes'}}
<EventSource @src={{this.items}} />
{{#let (hash
  statuses=(if this.status (split this.status ',') undefined)
) as |filters|}}
{{#let (or this.sortBy "Node:asc") as |sort|}}
  <AppView>
    <BlockSlot @name="header">
      <h1>
        Nodes <em>{{format-number this.items.length}} total</em>
      </h1>
      <label for="toolbar-toggle"></label>
    </BlockSlot>
    <BlockSlot @name="toolbar">
    {{#if (gt this.items.length 0) }}
        <ConsulNodeSearchBar
          @search={{this.search}}
          @onsearch={{action (mut this.search) value="target.value"}}
          @sort={{sort}}
          @onsort={{action (mut this.sortBy) value="target.selected"}}
          @filter={{filters}}
          @onfilter={{hash
            status=(action (mut this.status) value="target.selectedItems")
          }}
        />
    {{/if}}
    </BlockSlot>
    <BlockSlot @name="content">
{{#let (filter (filter-predicate 'node' filters) this.items) as |filtered|}}
  {{#let (sort-by (comparator 'node' sort) filtered) as |sorted|}}
      <ChangeableSet @dispatcher={{searchable 'node' sorted}} @terms={{this.search}}>
        <BlockSlot @name="set" as |searched|>
          <ConsulNodeList @items={{searched}} @leader={{this.leader}} />
        </BlockSlot>
        <BlockSlot @name="empty">
          <EmptyState>
            <BlockSlot @name="body">
              <p>
                There don't seem to be any registered nodes, or you may not have access to view nodes yet.
              </p>
            </BlockSlot>
          </EmptyState>
        </BlockSlot>
      </ChangeableSet>
  {{/let}}
{{/let}}
    </BlockSlot>
  </AppView>
  {{/let}}
{{/let}}