{{yield}}
<form class={{concat 'filter-bar' (if (eq this.secondary 'sort') ' with-sort')}} ...attributes>
    {{#yield-slot name="primary"}}
      <fieldset>
        {{yield}}
      </fieldset>
    {{else}}
      <FreetextFilter
        @onsearch={{action this.onsearch}}
        @value={{this.value}}
        @placeholder={{or this.placeholder 'Search'}}
      />
    {{/yield-slot}}
    {{#yield-slot name="secondary"}}
      <fieldset>
        {{yield}}
      </fieldset>
    {{else}}
      {{#if this.options}}
        {{#if (eq this.secondary 'sort')}}
        {{else}}
          <RadioGroup
            @keyboardAccess={{true}}
            @value={{this.selected.key}}
            @items={{this.options}}
            @onchange={{action this.onchange}}
          />
        {{/if}}
      {{/if}}
    {{/yield-slot}}
</form>
