<StateChart @src={{this.chart}} as |State Guard Action dispatch state|>
  <Ref @target={{this}} @name="dispatch" @value={{dispatch}} />
  <State @matches="success">
    <Tooltip @targetId={{this.guid}} @isShown={{true}} @position={{position}} @duration={{3000}} @oncomplete={{action dispatch 'RESET'}}>
      <span role="alert">Copied {{this.name}}!</span>
    </Tooltip>
  </State>
  <State @matches="error">
    <Tooltip role="alert" @targetId={{this.guid}} @isShown={{true}} @position={{position}} @duration={{3000}} @oncomplete={{action dispatch 'RESET'}}>
      <span role="alert">There was an problem!</span>
    </Tooltip>
  </State>
  <div class="copy-button" id={{this.guid}}>
    <button title={{concat "Copy " this.name " to the clipboard"}} ...attributes type="button" class="copy-btn" data-clipboard-text={{this.value}}>{{~yield~}}</button>
  </div>
</StateChart>
