<div ...attributes>
{{yield}}
  <YieldSlot @name="create">{{yield}}</YieldSlot>
  <label class="type-text">
    <span><YieldSlot @name="label">{{yield}}</YieldSlot></span>
    {{#if this.isOpen}}
      <DataSource
        @src={{concat '/' (or this.nspace 'default') '/' this.dc '/' (pluralize this.type)}}
        @onchange={{action (mut this.allOptions) value="data"}}
      />
    {{/if}}
      <PowerSelect
          @search={{action "search"}}
          @options={{this.options}}
          @loadingMessage="Loading..."
          @searchMessage="No possible options"
          @searchPlaceholder={{this.placeholder}}
          @onOpen={{action (mut this.isOpen) true}}
          @onClose={{action (mut this.isOpen) false}}
          @onChange={{action "change" "items[]" this.items}} as |item|>
        <YieldSlot @name="option" @params={{block-params item}}>{{yield}}</YieldSlot>
      </PowerSelect>
  </label>
{{#if (gt this.items.length 0)}}
  <YieldSlot @name="set">{{yield}}</YieldSlot>
{{else}}

{{/if}}
</div>