<ModalDialog
  class="role-selector"
  data-test-role-form
  @onclose={{action (mut this.state) "role"}}
  @name="new-role-toggle"
>
  <BlockSlot @name="header">
{{#if (eq this.state 'role')}}
    <h2>New Role</h2>
{{else}}
    <h2>New Policy</h2>
{{/if}}
  </BlockSlot>
  <BlockSlot @name="body">

  <input id="{{this.name}}_state_role" type="radio" name="{{this.name}}[state]" value="role" checked={{if (eq this.state 'role') 'checked'}} onchange={{action 'change'}} />
    <RoleForm @form={{form}} @dc={{this.dc}} @nspace={{this.nspace}}>
      <BlockSlot @name="policy">

        <PolicySelector @source={{source}} @dc={{this.dc}} @nspace={{this.nspace}} @items={{this.item.Policies}}>
          <BlockSlot @name="trigger">
            <label for="{{this.name}}_state_policy" data-test-create-policy class="type-dialog">
              <span>Create new policy</span>
            </label>
          </BlockSlot>
        </PolicySelector>

      </BlockSlot>
    </RoleForm>

    <input id="{{this.name}}_state_policy" type="radio" name="{{this.name}}[state]" value="policy" checked={{if (eq this.state 'policy') 'checked'}} onchange={{action 'change'}} />
    <PolicyForm data-test-policy-form @name="role[policy]" @form={{this.policyForm}} @dc={{this.dc}} />

  </BlockSlot>
  <BlockSlot @name="actions" as |close|>

{{#if (eq this.state 'role')}}
    <button type="submit" {{action 'save' this.item this.items (queue (action close) (action 'reset'))}} disabled={{if (or this.item.isSaving this.item.isPristine this.item.isInvalid) 'disabled'}}>
      {{#if this.item.isSaving }}
        <div class="progress indeterminate"></div>
      {{/if}}
      <span>Create and apply</span>
    </button>
    <button type="reset" disabled={{if this.item.isSaving 'disabled'}} {{action (queue (action close) (action 'reset'))}}>Cancel</button>
{{else}}
    <button type="submit" {{action 'dispatch' 'save' (array this.policy this.item.Policies (action (mut this.state) 'role'))}} disabled={{if (or this.policy.isSaving this.policy.isPristine this.policy.isInvalid) 'disabled'}}>
      {{#if this.policy.isSaving }}
        <div class="progress indeterminate"></div>
      {{/if}}
      <span>Create and apply</span>
    </button>
    <button type="reset" disabled={{if this.policy.isSaving 'disabled'}} {{action (mut this.state) 'role'}}>Cancel</button>
{{/if}}

  </BlockSlot>
</ModalDialog>

<ChildSelector @repo={{this.repo}} @dc={{this.dc}} @nspace={{this.nspace}} @type="role" @placeholder="Search for role" @items={{this.items}}>
  <BlockSlot @name="label">
    Apply an existing role
  </BlockSlot>
  <BlockSlot @name="create">
    <label class="type-dialog" for="new-role-toggle">
      <span>Create new role</span>
    </label>

  </BlockSlot>
  <BlockSlot @name="option" as |option|>
    {{option.Name}}
  </BlockSlot>
  <BlockSlot @name="set">
    <TabularCollection
        data-test-roles
        @rows={{5}}
        @items={{sort-by 'CreateTime:desc' 'Name:asc' this.items}} as |item index|
    >
      <BlockSlot @name="header">
        <th>Name</th>
        <th>Description</th>
      </BlockSlot>
      <BlockSlot @name="row">
        <td>
          <a href={{href-to 'dc.acls.roles.edit' item.ID}}>{{item.Name}}</a>
        </td>
        <td>
          {{item.Description}}
        </td>
      </BlockSlot>
      <BlockSlot @name="actions" as |index change checked|>
        <PopoverMenu @expanded={{if (eq checked index) true false}} @onchange={{action change index}} @keyboardAccess={{false}}>
          <BlockSlot @name="trigger">
            More
          </BlockSlot>
          <BlockSlot @name="menu" as |confirm send keypressClick|>
              <li role="none">
                <a role="menuitem" tabindex="-1" href={{href-to 'dc.acls.roles.edit' item.ID}}>Edit</a>
              </li>
              <li role="none" class="dangerous">
                <label for={{confirm}} role="menuitem" tabindex="-1" onkeypress={{keypressClick}} data-test-delete>Remove</label>
                <div role="menu">
                  <div class="confirmation-alert warning">
                    <div>
                      <header>
                        Confirm Remove
                      </header>
                      <p>
                        Are you sure you want to remove this role?
                      </p>
                    </div>
                    <ul>
                      <li class="dangerous">
                        <button tabindex="-1" type="button" class="type-delete" onclick={{action send 'remove' item this.items}}>Remove</button>
                      </li>
                      <li>
                        <label for={{confirm}}>Cancel</label>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
          </BlockSlot>
        </PopoverMenu>
      </BlockSlot>
    </TabularCollection>
  </BlockSlot>
</ChildSelector>
