<form class="filter-bar">
  <FreetextFilter
    @onsearch={{action this.onsearch}}
    @value={{this.search}}
    @placeholder="Search"
  />
  <div class="filters">
    <PopoverSelect
      class="select-dcs"
      @position="left"
      @onchange={{action this.onfilter.dc}}
      @multiple={{true}}
    as |components|>
      <BlockSlot @name="selected">
        <span>
          Datacenters
        </span>
      </BlockSlot>
      <BlockSlot @name="options">
{{#let components.Optgroup components.Option as |Optgroup Option|}}
  {{#each this.dcs as |dc|}}
    <Option @value={{dc.Name}} @selected={{contains dc.Name this.filter.dcs}}>{{dc.Name}}</Option>
  {{/each}}
{{/let}}
        <DataSource @src="/*/*/datacenters" @loading="lazy" @onchange={{action (mut this.dcs) value="data"}} />
      </BlockSlot>
    </PopoverSelect>
    <PopoverSelect
      class="select-type"
      @position="left"
      @onchange={{action this.onfilter.type}}
      @multiple={{true}}
    as |components|>
      <BlockSlot @name="selected">
        <span>
          Type
        </span>
      </BlockSlot>
      <BlockSlot @name="options">
{{#let components.Optgroup components.Option as |Optgroup Option|}}
        <Option @value="global-management" @selected={{contains 'global-management' this.filter.types}}>Global Management</Option>
        <Option @value="standard" @selected={{contains 'standard' this.filter.types}}>Standard</Option>
{{/let}}
      </BlockSlot>
    </PopoverSelect>
  </div>
  <div class="sort">
    <PopoverSelect
      class="type-sort"
      data-test-sort-control
      @position="right"
      @onchange={{action this.onsort}}
      @multiple={{false}}
    as |components|>
      <BlockSlot @name="selected">
        <span>
          {{#let (from-entries (array
            (array "Name:asc" "A to Z")
            (array "Name:desc" "Z to A")
              ))
            as |selectable|
          }}
            {{get selectable this.sort}}
          {{/let}}
        </span>
      </BlockSlot>
      <BlockSlot @name="options">
{{#let components.Optgroup components.Option as |Optgroup Option|}}
        <Optgroup @label="Name">
          <Option @value="Name:asc" @selected={{eq "Name:asc" this.sort}}>A to Z</Option>
          <Option @value="Name:desc" @selected={{eq "Name:desc" this.sort}}>Z to A</Option>
        </Optgroup>
{{/let}}
      </BlockSlot>
    </PopoverSelect>
  </div>
</form>
