<EventSource @src={{this.items}} @onerror={{action "error"}} />
<EventSource @src={{this.chain}} />
<EventSource @src={{this.intentions}} />
<EventSource @src={{this.proxies}} />
<EventSource @src={{this.gatewayServices}} />
{{title this.item.Service.Service}}
<AppView>
  <BlockSlot @name="notification" as |status type|>
    {{partial 'dc/services/notifications'}}
  </BlockSlot>
  <BlockSlot @name="breadcrumbs">
    <ol>
        <li><a data-test-back href={{href-to 'dc.services'}}>All Services</a></li>
    </ol>
  </BlockSlot>
  <BlockSlot @name="header">
      <h1>
        {{this.item.Service.Service}}
      </h1>
      <ConsulExternalSource @item={{this.item.Service}} />
      <ConsulKind @item={{this.item.Service}} @withInfo={{true}} />
  </BlockSlot>
  <BlockSlot @name="nav">
  {{#if (not-eq this.item.Service.Kind 'mesh-gateway')}}
    <TabNav @items={{
      compact
          (array
(if (eq this.item.Service.Kind 'terminating-gateway')
                (hash label="Linked Services" href=(href-to "dc.services.show.services") selected=(is-href "dc.services.show.services"))
                '')
(if (eq this.item.Service.Kind 'ingress-gateway')
                (hash label="Upstreams" href=(href-to "dc.services.show.upstreams") selected=(is-href "dc.services.show.upstreams"))
                '')
(hash label="Instances" href=(href-to "dc.services.show.instances") selected=(is-href "dc.services.show.instances"))
(if (not-eq this.item.Service.Kind 'terminating-gateway')
                (hash label="Intentions" href=(href-to "dc.services.show.intentions") selected=(is-href "dc.services.show.intentions"))
                '')
(if this.chain.Chain
                (hash label="Routing" href=(href-to "dc.services.show.routing") selected=(is-href "dc.services.show.routing"))
                '')
(if (not this.item.Service.Kind)
                (hash label="Tags" href=(href-to "dc.services.show.tags") selected=(is-href "dc.services.show.tags"))
                '')
          )
    }} />
  {{/if}}
  </BlockSlot>
  <BlockSlot @name="actions">
    {{#if this.urls.service}}
      {{#templated-anchor this.data-test-dashboard-anchor href=this.urls.service vars=(hash Datacenter=this.dc Service=(hash Name=this.item.Service.Service)) rel="external"}}Open Dashboard{{/templated-anchor}}
    {{/if}}
  </BlockSlot>
  <BlockSlot @name="content">
    <Outlet
      @name={{this.routeName}}
    as |o|>
      {{outlet}}
    </Outlet>
  </BlockSlot>
</AppView>