<input
  ...attributes
  {{ref this "input"}}
  type="checkbox"
  checked={{if this.checked 'checked' undefined}}
  id={{concat 'toggle-button-' this.guid}}
  onchange={{action 'change'}}
/>
<label {{ref this "label"}} for={{concat 'toggle-button-' this.guid}}>
  {{yield (hash
    click=(action 'click')
  )}}
</label>