<form class="filter-bar">
  <FreetextFilter
    @onsearch={{action this.onsearch}}
    @value={{this.search}}
    @placeholder="Search"
  />
  <div class="filters">
    <PopoverSelect
      class="type-status"
      @position="left"
      @onchange={{action this.onfilter.status}}
      @multiple={{true}}
    as |components|>
      <BlockSlot @name="selected">
        <span>
          Health Status
        </span>
      </BlockSlot>
      <BlockSlot @name="options">
{{#let components.Optgroup components.Option as |Optgroup Option|}}
        <Option class="value-passing" @value="passing" @selected={{contains 'passing' this.filter.statuses}}>Passing</Option>
        <Option class="value-warning" @value="warning" @selected={{contains 'warning' this.filter.statuses}}>Warning</Option>
        <Option class="value-critical" @value="critical" @selected={{contains 'critical' this.filter.statuses}}>Failing</Option>
        <Option class="value-empty" @value="empty" @selected={{contains 'empty' this.filter.statuses}}>No checks</Option>
{{/let}}
      </BlockSlot>
    </PopoverSelect>
    <PopoverSelect
      @position="left"
      @onchange={{action this.onfilter.type}}
      @multiple={{true}}
    as |components|>
      <BlockSlot @name="selected">
        <span>
          Service Type
        </span>
      </BlockSlot>
      <BlockSlot @name="options">
{{#let components.Optgroup components.Option as |Optgroup Option|}}
        <Option @value="service" @selected={{contains 'service' this.filter.types}}>Service</Option>
        <Optgroup @label="Gateway">
          <Option @value="ingress-gateway" @selected={{contains 'ingress-gateway' this.filter.types}}>Ingress Gateway</Option>
          <Option @value="terminating-gateway" @selected={{contains 'terminating-gateway' this.filter.types}}>Terminating Gateway</Option>
          <Option @value="mesh-gateway" @selected={{contains 'mesh-gateway' this.filter.types}}>Mesh Gateway</Option>
        </Optgroup>
        <Optgroup @label="Mesh">
          <Option @value="mesh-enabled" @selected={{contains 'mesh-enabled' this.filter.types}}>In service mesh</Option>
          <Option @value="mesh-disabled" @selected={{contains 'mesh-disabled' this.filter.types}}>Not in service mesh</Option>
        </Optgroup>
{{/let}}
      </BlockSlot>
    </PopoverSelect>
{{#if (gt this.sources.length 0)}}
    <PopoverSelect
      class="type-source"
      @position="left"
      @onchange={{action this.onfilter.source}}
      @multiple={{true}}
    as |components|>
      <BlockSlot @name="selected">
        <span>
          Source
        </span>
      </BlockSlot>
      <BlockSlot @name="options">
{{#let components.Optgroup components.Option as |Optgroup Option|}}
{{#each this.sources as |source|}}
        <Option class={{source}} @value={{source}} @selected={{contains source this.filter.sources}}>{{source}}</Option>
{{/each}}
{{/let}}
      </BlockSlot>
    </PopoverSelect>
{{/if}}
  </div>
  <div class="sort">
    <PopoverSelect
      class="type-sort"
      data-test-sort-control
      @position="right"
      @onchange={{action this.onsort}}
      @multiple={{false}}
    as |components|>
      <BlockSlot @name="selected">
        <span>
          {{#let (from-entries (array
                (array "Name:asc" "A to Z")
                (array "Name:desc" "Z to A")
                (array "Status:asc" "Unhealthy to Healthy")
                (array "Status:desc" "Healthy to Unhealthy")
              ))
            as |selectable|
          }}
            {{get selectable this.sort}}
          {{/let}}
        </span>
      </BlockSlot>
      <BlockSlot @name="options">
{{#let components.Optgroup components.Option as |Optgroup Option|}}
        <Optgroup @label="Health Status">
          <Option @value="Status:asc" @selected={{eq "Status:asc" this.sort}}>Unhealthy to Healthy</Option>
          <Option @value="Status:desc" @selected={{eq "Status:desc" this.sort}}>Healthy to Unhealthy</Option>
        </Optgroup>
        <Optgroup @label="Service Name">
          <Option @value="Name:asc" @selected={{eq "Name:asc" this.sort}}>A to Z</Option>
          <Option @value="Name:desc" @selected={{eq "Name:desc" this.sort}}>Z to A</Option>
        </Optgroup>
{{/let}}
      </BlockSlot>
    </PopoverSelect>
  </div>
</form>
