{{yield}}
<fieldset ...attributes>
  {{#yield-slot name='template'}}
  {{else}}
    <header>
      Policy{{if this.allowIdentity ' or identity?' ''}}
    </header>
  {{#if this.allowIdentity}}
    <p>
      Identities are default policies with configurable names. They save you some time and effort you're using Consul for Connect features.
    </p>
    {{! this should use radio-group }}
    <div role="radiogroup" class={{if this.item.error.Type ' has-error'}}>
        {{#each this.templates as |template|}}
            <label data-test-radiobutton={{concat 'template_' template.template}}>
              <span>{{template.name}}</span>
              <input type="radio" name={{concat this.name '[template]'}} value={{template.template}} checked={{eq this.item.template template.template}} onchange={{action (changeset-set this.item 'template') value='target.value'}} />
            </label>
        {{/each}}
    </div>
  {{else}}
    <input type="hidden" name={{concat this.name '[template]'}} value="" />
  {{/if}}
  {{/yield-slot}}
    <label class="type-text{{if (and this.item.error.Name (not this.item.isPristine)) ' has-error'}}">
        <span>Name</span>
        <input type="text" value={{this.item.Name}} name="{{this.name}}[Name]" autofocus="autofocus" oninput={{action 'change'}} />
        <em>
          Maximum 128 characters. May only include letters (uppercase and/or lowercase) and/or numbers. Must be unique.
        </em>
        {{#if (and this.item.error.Name (not this.item.isPristine))}}
          <strong>{{this.item.error.Name.validation}}</strong>
        {{/if}}
    </label>
    <label class="type-text" data-test-rules>
        <span>Rules <a href="{{env 'CONSUL_DOCS_URL'}}/guides/acl.html#rule-specification" rel="help noopener noreferrer" target="_blank">(HCL Format)</a></span>
{{#if (eq this.item.template 'service-identity')}}
        <CodeEditor @readonly={{true}} @name={{concat this.name "[Rules]"}} @syntax="hcl" @oninput={{action "change" (concat this.name "[Rules]")}}>
          {{~component 'service-identity' nspace=this.nspace name=this.item.Name~}}
        </CodeEditor>
{{else if (eq this.item.template 'node-identity')}}
        <CodeEditor @readonly={{true}} @name={{concat this.name "[Rules]"}} @syntax="hcl" @oninput={{action "change" (concat this.name "[Rules]")}}>
          {{~component 'node-identity' name=this.item.Name~}}
        </CodeEditor>
{{else}}
        <CodeEditor @syntax="hcl" @class={{if this.item.error.Rules "error"}} @name={{concat this.name "[Rules]"}} @value={{this.item.Rules}} @onkeyup={{action "change" (concat this.name "[Rules]")}} />
        {{#if this.item.error.Rules}}
          <strong>{{this.item.error.Rules.validation}}</strong>
        {{/if}}
{{/if}}
    </label>
{{#if (eq this.item.template 'node-identity')}}

    <DataSource @src="/*/*/datacenters"
      @onchange={{action (mut this.datacenters) value="data"}}
    />
    <label class="type-select" data-test-datacenter>
      <span>Datacenter</span>
      <PowerSelect
          @options={{map-by 'Name' this.datacenters}}
          @searchField="Name"
          @selected={{or this.item.Datacenter this.dc}}
          @searchPlaceholder="Type a datacenter name"
          @onChange={{action "change" "Datacenter"}} as |Name|>
            {{Name}}
      </PowerSelect>
    </label>
{{else}}
    <div class="type-toggle">
      <span>Valid datacenters</span>
      <label>
        <input type="checkbox" name="{{this.name}}[isScoped]" checked={{if (not this.isScoped) 'checked' }} onchange={{action 'change'}} />
        <span>All</span>
      </label>
    </div>
  {{#if this.isScoped }}
    <DataSource @src="/*/*/datacenters"
      @onchange={{action (mut this.datacenters) value="data"}}
    />

    <div class="checkbox-group" role="group">
      {{#each this.datacenters as |dc| }}
        <label class="type-checkbox">
          <input type="checkbox" name="{{this.name}}[Datacenters]" value={{dc.Name}} checked={{if (contains dc.Name this.item.Datacenters) 'checked' }} onchange={{action 'change'}} />
          <span>{{dc.Name}}</span>
        </label>
      {{/each}}
      {{#each this.item.Datacenters as |dc| }}
{{#if (not (find-by 'Name' dc this.datacenters))}}
        <label class="type-checkbox">
          <input type="checkbox" name="{{this.name}}[Datacenters]" value={{dc}} checked="checked" onchange={{action 'change'}} />
          <span>{{dc}}</span>
        </label>
{{/if}}
      {{/each}}
    </div>


  {{/if}}
{{/if}}
{{#if (eq this.item.template '') }}
  <label class="type-text">
    <span>Description (Optional)</span>
    <textarea name="{{this.name}}[Description]" value={{this.item.Description}} oninput={{action 'change'}}></textarea>
  </label>
{{/if}}
</fieldset>

