    <fieldset>
        <label class="type-text{{if this.item.error.Name ' has-error'}}">
            <span>Name</span>
            <Input @value={{this.item.Description}} @name="name" @autofocus="autofocus" />
        </label>
{{#if false}}
        <div role="radiogroup" class={{if this.item.error.Type ' has-error'}}>
            {{#each (array 'management' 'client') as |type|}}
                <label>
                    <span>{{capitalize type}}</span>
                    <input type="radio" name="Type" value="{{type}}" checked={{if (eq this.item.Type type) 'checked'}} onchange={{ action 'change' }} />
                </label>
            {{/each}}
        </div>
{{/if}}
        <label class="type-text">
            <span>Rules <a href="{{env 'CONSUL_DOCS_URL'}}/guides/acl.html#rule-specification" rel="help noopener noreferrer" target="_blank">(HCL Format)</a></span>
            <CodeEditor @class={{if this.item.error.Rules "error"}} @name="Rules" @syntax="hcl" @value={{this.item.Rules}} @onkeyup={{action "change" "Rules"}} />
        </label>
{{#if this.create }}
        <label class="type-text">
            <span>ID</span>
            <Input @value={{this.item.ID}} />
            <em>We'll generate a UUID if this field is left empty.</em>
        </label>
{{/if}}
    </fieldset>

