{{#if this.isAuthorized }}
  {{title 'Tokens'}}
{{else}}
  {{title 'Access Controls'}}
{{/if}}

{{#let (hash
  types=(if this.type (split this.type ',') undefined)
) as |filters|}}
  {{#let (or this.sortBy "CreateTime:desc") as |sort|}}
    <AppView
      @authorized={{this.isAuthorized}}
      @enabled={{this.isEnabled}}
      >
      <BlockSlot @name="notification" as |status type subject|>
        {{partial 'dc/acls/tokens/notifications'}}
      </BlockSlot>
      <BlockSlot @name="header">
        <h1>
          Access Controls
        </h1>
      </BlockSlot>
      <BlockSlot @name="nav">
    {{#if this.isAuthorized }}
        {{partial 'dc/acls/nav'}}
    {{/if}}
      </BlockSlot>
      <BlockSlot @name="disabled">
        {{partial 'dc/acls/disabled'}}
      </BlockSlot>
      <BlockSlot @name="authorization">
        {{partial 'dc/acls/authorization'}}
      </BlockSlot>
      <BlockSlot @name="actions">
          <a data-test-create href="{{href-to 'dc.acls.tokens.create'}}" class="type-create">Create</a>
      </BlockSlot>
      <BlockSlot @name="toolbar">
    {{#if (gt this.items.length 0)}}
        <ConsulTokenSearchBar
          @search={{this.search}}
          @onsearch={{action (mut this.search) value="target.value"}}
          @sort={{sort}}
          @onsort={{action (mut this.sortBy) value="target.selected"}}
          @filter={{filters}}
          @onfilter={{hash
            type=(action (mut this.type) value="target.selectedItems")
          }}
        />
    {{/if}}
      </BlockSlot>
      <BlockSlot @name="content">
    {{#if (token/is-legacy this.items)}}
        <p data-test-notification-update class="notice info"><strong>Update.</strong> We have upgraded our ACL System to allow the creation of reusable policies that can be applied to tokens. Read more about the changes and how to upgrade legacy tokens in our <a href="{{env 'CONSUL_DOCS_URL'}}/guides/acl-migrate-tokens.html" target="_blank" rel="noopener noreferrer">documentation</a>.</p>
    {{/if}}
    {{#let (filter (filter-predicate 'token' filters) this.items) as |filtered|}}
      {{#let (sort-by (comparator 'token' sort) filtered) as |sorted|}}
        <ChangeableSet @dispatcher={{searchable 'token' sorted}} @terms={{this.search}}>
          <BlockSlot @name="set" as |searched|>
            <ConsulTokenList
              @items={{searched}}
              @token={{this.token}}
              @onuse={{action this.send 'use'}}
              @ondelete={{action this.send 'delete'}}
              @onlogout={{action this.send 'logout'}}
              @onclone={{action this.send 'clone'}}
              />
          </BlockSlot>
          <BlockSlot @name="empty">
            <EmptyState @allowLogin={{true}}>
              <BlockSlot @name="header">
                <h2>
                  {{#if (gt this.items.length 0)}}
                    No tokens found
                  {{else}}
                    Welcome to ACL Tokens
                  {{/if}}
                </h2>
              </BlockSlot>
              <BlockSlot @name="body">
                <p>
                  {{#if (gt this.items.length 0)}}
                    No tokens where found matching that search, or you may not have access to view the tokens you are searching for.
                  {{else}}
                    There don't seem to be any tokens, or you may not have access to view tokens yet.
                  {{/if}}
                </p>
              </BlockSlot>
            </EmptyState>
          </BlockSlot>
        </ChangeableSet>
      {{/let}}
    {{/let}}
      </BlockSlot>
    </AppView>
  {{/let}}
{{/let}}
