<div
  ...attributes
  class="consul-intention-permission-header-form"
>
  {{yield (hash
    submit=(action 'submit' this.changeset)
    reset=(action 'reset' this.changeset)
    isDirty=(and this.changeset.isValid this.changeset.isDirty)
    changeset=this.changeset
  )}}

  <fieldset>
    <div>

      <label class="type-select">
        <span>Header Type</span>
        <div>
          <PowerSelect
            @options={{this.headerTypes}}
            @selected={{this.headerType}}
            @onChange={{action 'change' 'HeaderType' this.changeset}} as |Type|>
              {{get this.headerLabels Type}}
          </PowerSelect>
        </div>
      </label>
      <label class="type-text{{if this.changeset.error.Name ' has-error'}}">
        <span>Header name</span>
        <input
          type="text"
          name={{concat this.name '[Name]'}}
          value={{changeset-get this.changeset 'Name'}}
          oninput={{action 'change' 'Name' this.changeset}}
        />
        {{#if this.changeset.error.Name}}
          <strong>{{this.changeset.error.Name.validation}}</strong>
        {{/if}}
      </label>

  {{#if this.shouldShowValueField}}
      <label class="type-text{{if this.changeset.error.Value ' has-error'}}">
        <span>Header {{lowercase (get this.headerLabels this.headerType)}}</span>
        <input
          type="text"
          name="Value"
          value={{changeset-get this.changeset 'Value'}}
          oninput={{action 'change' 'Value' this.changeset}}
        />
        {{#if this.changeset.error.Value}}
          <strong>{{this.changeset.error.Value.validation}}</strong>
        {{/if}}
      </label>
  {{/if}}

    </div>
  </fieldset>
</div>