<label
  ...attributes
  class="radio-card{{if this.checked ' checked'}}"
>
  <div>
    <input type="radio" name={{this.name}} value={{this.value}} checked={{this.checked}} onchange={{action this.onchange}} />
  </div>
  <div>
    {{yield}}
  </div>
</label>