<div id="instances" class="tab-section">
  <div role="tabpanel">
{{#let (hash
  statuses=(if this.status (split this.status ',') undefined)
  sources=(if this.source (split this.source ',') undefined)
) as |filters|}}
  {{#let (or this.sortBy "Name:asc") as |sort|}}
    {{#if (gt this.items.length 0) }}
    <input type="checkbox" id="toolbar-toggle" />
    <ConsulServiceInstanceSearchBar
      @sources={{this.externalSources}}
      @search={{this.search}}
      @onsearch={{action (mut this.search) value="target.value"}}
      @sort={{sort}}
      @onsort={{action (mut this.sortBy) value="target.selected"}}
      @filter={{filters}}
      @onfilter={{hash
        status=(action (mut this.status) value="target.selectedItems")
        source=(action (mut this.source) value="target.selectedItems")
      }}
      />
    {{/if}}
{{#let (filter (filter-predicate 'serviceInstance' filters) this.items) as |filtered|}}
  {{#let (sort-by (comparator 'serviceInstance' sort) filtered) as |sorted|}}
    <ChangeableSet @dispatcher={{searchable 'serviceInstance' sorted}} @terms={{this.search}}>
      <BlockSlot @name="set" as |searched|>
        <ConsulServiceInstanceList @routeName="dc.services.instance" @items={{searched}}/>
      </BlockSlot>
      <BlockSlot @name="empty">
        <EmptyState>
          <BlockSlot @name="body">
            <p>
              There are no services.
            </p>
          </BlockSlot>
        </EmptyState>
      </BlockSlot>
    </ChangeableSet>
  {{/let}}
{{/let}}
  {{/let}}
{{/let}}
  </div>
</div>
