<StateChart @src={{this.chart}} as |State Guard Action dispatch state|>
  <Ref @target={{this}} @name="dispatch" @value={{dispatch}} />
  <State @matches="loaded">
    <div class="oidc-select" ...attributes>
        {{#if (lt this.items.length 3)}}
            <ul>
            {{#each this.items as |item|}}
              <li>
                <button
                  disabled={{this.disabled}}
                  type="button"
                  class={{concat item.Kind '-oidc-provider'}}
                  onclick={{action this.onchange item}}
                >
                  Continue with {{or item.DisplayName item.Name}}{{#if (not-eq item.Namespace 'default')}} ({{item.Namespace}}){{/if}}
                </button>
              </li>
            {{/each}}
            </ul>
        {{else}}
          {{#let (or this.provider (object-at 0 this.items)) as |item|}}
            <label>
              <span>SSO Provider</span>
              <PowerSelect
                @disabled={{this.disabled}}
                @onChange={{action (mut this.provider)}}
                @selected={{item}}
                @searchEnabled={{false}}
                @options={{this.items}} as |item|>
                <span class={{concat item.Kind '-oidc-provider'}}>
                  {{or item.DisplayName item.Name}}{{#if (not-eq item.Namespace 'default')}} ({{item.Namespace}}){{/if}}
                </span>
              </PowerSelect>
            </label>
            <button
              disabled={{this.disabled}}
              type="button"
              onclick={{action this.onchange item}}
            >
              Log in
            </button>
          {{/let}}
        {{/if}}
    </div>
  </State>
  <State @matches="loading">
    <div class="progress indeterminate"></div>
  </State>
</StateChart>