<form>
    <fieldset>
        <label class="type-text{{if this.item.error.Name ' has-error'}}">
            <span>Name</span>
            <Input @value={{this.item.Name}} @name="name" @autofocus="autofocus" />
        </label>
        <div role="radiogroup" class={{if this.item.error.Type ' has-error'}}>
            {{#each this.types as |type|}}
                <label>
                    <span>{{capitalize type}}</span>
                    <input type="radio" name="Type" value="{{type}}" checked={{if (eq this.item.Type type) 'checked'}} onchange={{ action 'change' }} />
                </label>
            {{/each}}
        </div>
        <label class="type-text">
            <span>Policy <a href="{{env 'CONSUL_DOCS_URL'}}/guides/acl.html#rule-specification" rel="help noopener noreferrer" target="_blank">(HCL Format)</a></span>
            <CodeEditor @class={{if this.item.error.Rules "error"}} @name="Rules" @value={{this.item.Rules}} @syntax="hcl" @onkeyup={{action "change" "Rules"}} />
        </label>
{{#if this.create }}
        <label class="type-text">
            <span>ID</span>
            <Input @value={{this.item.ID}} />
            <em>We'll generate a UUID if this field is left empty.</em>
        </label>
{{/if}}
    </fieldset>
    <div>
{{#if this.create }}
        {{! we only need to check for an empty name here as ember munges autofocus, once we have autofocus back revisit this}}
        <button type="submit" {{ action "create" this.item}} disabled={{if (or this.item.isPristine this.item.isInvalid (eq this.item.Name '')) 'disabled'}}>Save</button>{{else}}<button type="submit" {{ action "update" this.item}} disabled={{if this.item.isInvalid 'disabled'}}>Save</button>
{{/if}}
        <button type="reset" {{ action "cancel" this.item}}>Cancel</button>
{{# if (and (not this.create) (not-eq this.item.ID 'anonymous')) }}
        <ConfirmationDialog @message="Are you sure you want to delete this ACL token?">
            <BlockSlot @name="action" as |confirm|>
                <button type="button" data-test-delete class="type-delete" {{action confirm 'delete' this.item this.parent}}>Delete</button>
            </BlockSlot>
            <BlockSlot @name="dialog" as |execute cancel message|>
            <DeleteConfirmation @message={{message}} @execute={{execute}} @cancel={{cancel}} />
            </BlockSlot>
        </ConfirmationDialog>
{{/if}}
    </div>
</form>

