<div id="addresses" class="tab-section">
  <div role="tabpanel">
    {{#if this.item.Service.TaggedAddresses }}
      <TabularCollection
        data-test-addresses
        @items={{object-entries this.item.Service.TaggedAddresses}} as |taggedAddress index|
      >
          <BlockSlot @name="header">
            <th>Tag</th>
            <th>Address</th>
          </BlockSlot>
          <BlockSlot @name="row">
      {{#with (object-at 1 taggedAddress) as |address|}}
            <td>
              {{object-at 0 taggedAddress}}{{#if (and (eq address.Address this.item.Address) (eq address.Port this.item.Port))}}&nbsp;<em data-test-address-default>(default)</em>{{/if}}
            </td>
            <td data-test-address>
              {{address.Address}}:{{address.Port}}
            </td>
      {{/with}}
          </BlockSlot>
      </TabularCollection>
    {{else}}
      <p>
        There are no additional addresses.
      </p>
    {{/if}}
  </div>
</div>
