<form class="filter-bar">
  <FreetextFilter
    @onsearch={{action this.onsearch}}
    @value={{this.search}}
    @placeholder="Search"
  />
  <div class="sort">
    <PopoverSelect
      class="type-sort"
      data-test-sort-control
      @position="right"
      @onchange={{action this.onsort}}
      @multiple={{false}}
    as |components|>
      <BlockSlot @name="selected">
        <span>
          {{#let (from-entries (array
              (array "Name:asc" "A to Z")
              (array "Name:desc" "Z to A")
              (array "CreateIndex:desc" "Newest to oldest")
              (array "CreateIndex:asc" "Oldest to newest")
              ))
            as |selectable|
          }}
            {{get selectable this.sort}}
          {{/let}}
        </span>
      </BlockSlot>
      <BlockSlot @name="options">
{{#let components.Optgroup components.Option as |Optgroup Option|}}
        <Optgroup @label="Name">
          <Option @value="Name:asc" @selected={{eq "Name:asc" this.sort}}>A to Z</Option>
          <Option @value="Name:desc" @selected={{eq "Name:desc" this.sort}}>Z to A</Option>
        </Optgroup>
        <Optgroup @label="Creation">
          <Option @value="CreateIndex:desc" @selected={{eq "CreateIndex:desc" this.sort}}>Newest to oldest</Option>
          <Option @value="CreateIndex:asc" @selected={{eq "CreateIndex:asc" this.sort}}>Oldest to newest</Option>
        </Optgroup>
{{/let}}
      </BlockSlot>
    </PopoverSelect>
  </div>
</form>
